<div class="flexbox-column">
    <div class="logo-area">
        <h1>kvel.io</h1>
        <span>ui on my way</span>
    </div>
    <div class="photo">
        <img src="./images/kvel.png">
    </div>
    <div class="menu">
        <ul>
            <li data-ng-click="setTab('thoughts')" ng-class="{active: tab=='thoughts'}">my thoughts</li>
            <li data-ng-click="setTab('collections')" ng-class="{active: tab=='collections'}">collections</li>
            <li data-ng-click="setTab('cv')" ng-class="{active: tab=='cv'}">cv</li>
        </ul>
    </div>
    <div class="sign-in">
        <i class="fa fa-sign-in"></i>
    </div>
</div>